{% extends "base.html" %}

{% block meta %}
	<meta name="description" content="Quer saber sobre os meus projetos, e algo mais? Fale comigo!" />
	<meta name="keywords" content="contato, gilson, desenvolvimento, fale comigo, fale conosco" />
{% endblock meta %}

{% block media %}
    	{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" />
{% endblock media %}

{% block corpo %}
    <div id="cabecalho">
        <h1>Fale Comigo</h1>
    </div>


    <div id="conteudo">
    	<a href="{% url homepage %}">Voltar para a Página Inicial</a>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <label>
                    {{ form.nome.label }}: {{ form.nome }} 
                    <div class="erros">{{ form.nome.errors}}</div>
                </label>
                <label>
                    {{ form.email.label }}: {{ form.email }}
                    <div class="erros">{{ form.email.errors}}</div>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    {{ form.mensagem.label }}: {{ form.mensagem }}
                    <div class="erros">{{ form.mensagem.errors }}</div>
                </label>
            </fieldset>
            <fieldset class="submit">
                <input type="submit" name="Enviar" />
            </fieldset>
        </form>
    </div>
{% endblock corpo %}
