{% extends "base.html" %}

{% block corpo %}
    <div class="box box_esquerda">
        <h1>Gilson Filho</h1>
        <h2>Desenvolvedor Web</h2>
        <div id="curriculo">
            <!-- Currículo (<a href="#">PDF</a>, <a href="#">Open Office</a> ou <a href="#">Word</a>) -->
        </div>
    </div>
    <div class="box box_direita">
        <h3>Sobre</h3>
        <p id="sobre descricao">
            Desenvolvedor web há 3 anos, desenvolve projetos voltados para a web 
            como sites, portais, aplicações web entre outros. Criou projetos 
            privados e open source usando as ferramentas como Python/Django e 
            Python/Web2py. É entusiasta em Software Livre e Metodologias ágeis. 
            Está sempre atualizado sobre ferramentas que podem aumentar a 
            produtividade e qualidade da sua programação.
        </p>
    </div>
    <div class="box box_esquerda ultimos">
        <h3><a href="{% url projetos %}">Últimos Projetos</a></h3>
        <p class="descricao">Clique em uma das imagens para saber os detalhes de cada projeto:</p>
        <div id="slide_screenshots">
            {% for projeto in projetos %}
                <a href="{% url projeto projeto.slug %}">
                    <img src="{{ projeto.imagem_box.url }}" width="128" height="128" alt="Imagens do Projeto" />
                </a>
            {% endfor %}
        </div>
        <p id="briefing">Se interessou? Então vamos <a href="{% url contato %}">conversar</a>?</p>
    </div>
    <div class="box box_direita ultimos">
        <h3>Twitter - <a href="http://www.twitter.com/gilsonfilho">@gilsonfilho</a></h3>
        <div id="tweets"></div>
    </div>
{% endblock corpo %}
