{% extends "base.html" %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages.css" />
{% endblock media %}

{% block corpo %}
    <div id="cabecalho">
        <h1>E-mail enviado com sucesso</h1>
    </div>
    <a href="{% url homepage %}">Voltar para a Página Inicial</a>
    <div id="conteudo">
        <p>
            Muito obrigado por me visitar. Dentro de alguns instantes estarei 
            entrando em contato.
        </p>
        <p>
            Se quiser saber mais de alguns projetos que 
            desenvolvi e participei, <a href="{% url projetos %}">clique aqui</a>.
        </p>
    </div>
{% endblock corpo %}
