{% extends "base.html" %}

{% block meta %}
	<meta name="description" content="Veja os links que recomendo para você acessar." />
	<meta name="keywords" content="links, quicklinks, sites, portais, projetos, tutoriais, tecnologias, frameworks, django, python, web, web2py" />
{% endblock meta %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/pages.css" />
{% endblock media %}

{% block corpo %}
    <div id="cabecalho">
        <h1>Quicklinks</h1>
    </div>
	<a href="{% url homepage %}">Voltar para a Página Inicial</a>
    <div id="conteudo">
        {% for link in links %}
            <h2>{{ link.classificacao }}</h2>
            <br />
            <ul>
                <li>{{ link.titulo }} - <a href="#">{{ link.url }}</a></li>
            </ul>
        {% endfor %}
    </div>
{% endblock corpo %}
