fieldset {
    width: 550px;
    margin: 15px 0 25px 0;
}

legend {
    font: bold 14px Verdana, arial, tahoma, sans-serif;
}

legend span {
    font-size: 70%;
}

label {
    display: block;
    width: 460px;
    margin: 5px;
    float: left;
    font: 14px Verdana, arial, tahoma, sans-serif;
    padding-bottom: 10px;
    color: #565656;
    text-shadow: 1px 1px 1px #CCC;
    position: relative;
}

label input{
    width: 450px;
    height: 30px;
    border-left: 1px solid #000;
    border-right: 1px solid #CCC;
    border-top: 1px solid #000;
    border-bottom: 1px solid #CCC;  
    border-radius: 3px 3px; 

    /* Gecko (Mozilla Firefox,etc) */
    -moz-border-radius: 3px 3px;

    /* Webkit (Google Chrome, Safari, etc) */
    -webkit-border-radius: 3px 3px;

    font-size: 160%;   
}

label input:focus {
    background: #FAFFBD;
}

label select {
    width: 450px;
    height: 25px;
    font-size: 130%;
}

label textarea {
    width: 150%;
    height: 15%;
    border-left: 1px solid #000;
    border-right: 1px solid #CCC;
    border-top: 1px solid #000;
    border-bottom: 1px solid #CCC;  
    border-radius: 3px 3px; 
}

label textarea:focus {
    background: #FAFFBD;
}

label span {
    color: red;
}

/* Barras de Pesquisa */
.pesquisa {
    padding: 6px 0 4px 610px;
    width: 340px;
    margin: 5px auto;
    background-color: #F2F2F2;
}

.pesquisa p {
    margin: 0;
    padding: 0;
}

.pesquisa label {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 30px;
    font: 12px Verdana, arial, tahoma, sans-serif;
}

.pesquisa label input{
    width: 150px;
    height: 20px;
    border-left: 1px solid #000;
    border-right: 1px solid #CCC;
    border-top: 1px solid #000;
    border-bottom: 1px solid #CCC;  
    border-radius: 3px 3px; 

    /* Gecko (Mozilla Firefox,etc) */
    -moz-border-radius: 3px 3px;

    /* Webkit (Google Chrome, Safari, etc) */
    -webkit-border-radius: 3px 3px;

    font-size: 130%;   
}

.pesquisa input[type="submit"] {
    
}

/* Simbolo de obrigatorio */
.obrigatorio {
    font-weight: bold;
    color: red;
}

/* Mensagens de ajuda */
.exemplo {
    font: bold 10px Verdana, arial, tahoma, sans-serif;
    color: gray;
    position: absolute;
    right: 7px;
}

/* Mensagens de Erro */
.erros {
	margin-top: 5px;
	color: red;
}

.submit {
    border: none;
    text-align: center;
}
