/**
* Personal Site - Gilson Filho
*
* Layout das páginas do site
*
*
* @project
* Personal Site - Gilson Filho
* @version
* 1.0
* @package
* layout
* @author
* Gilson Filho
* @copyright 2011 Gilson Filho
*
* @colordef #4D4D4D; standard gray
* @colordef #BF0000; standard red
*/

#cabecalho {
    height: 70px;
    padding: 30px 0 10px 40px;
    border: 1px solid #CCC;
    text-shadow: 1px 1px #CCC;
}

#conteudo {
    padding: 20px;
}

    #conteudo h2 { padding: 30px 0 10px 0; }

    #conteudo ul { width: 500px; }

    #conteudo li {padding: 10px auto;}