#screenshot {
    width: 600px;
    margin: 20px auto;
}

    #screenshot img { box-shadow: 1px 4px 8px black; }

#conteudo {}

    #conteudo strong {
        font-size: 110%;
        font-weight: bold;
    }

    #conteudo p {font-size: 90%;}

.projeto { 
    width: 256px;
    height: 200px;
    margin: 10px 20px;
    text-align: center;
    float: left;
}

    .projeto img { box-shadow: 1px 1px 3px #CCC; }