/**
* Personal Site - Gilson Filho
*
* Layout padrão do site
*
*
* @project
* Personal Site - Gilson Filho
* @version
* 1.0
* @package
* layout
* @author
* Gilson Filho
* @copyright 2011 Gilson Filho
*
* @colordef #4D4D4D; standard gray
* @colordef #BF0000; standard red
*/

body {
    font-family: Tahoma, Arial, Verdana, sans-serif;
    color: #4D4D4D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Questrial', Arial, Verdana, Tahoma, sans-serif;
}

h1 { font-size: 350%; }

h2 { font-size: 150%; }

h3 { font-size: 180%; }

h4 { font-size: 130%; }

h5 { font-size: 100%; }

h6 { font-size: 100%; }

p {
    line-height: 1.5em;
}

/**
* Conteúdo da página
*
* Estrutura que compõem o
* conteúdo da página
*
* @section structure
* @see
* http://gilsondev.com
*/
#main {
   margin-bottom: 30px; 
}

    #main a { 
        text-decoration: none;
        color: #7F0000; 
    }

    #main a:hover { 
        text-decoration: underline;
    }    

/**
* Boxes da página
*
* Estrutura que compõem os dados
* da página inicial.
*
* @section structure
* @see
* http://gilsondev.com
*/

.box {
    width: 400px;
    height: 100px;
    padding: 10px 20px 120px 60px;

}

    .box h1, h2, h3, h4, h5, h6 { text-shadow: 1px 1px #CCC; }

    .box h3 { margin-bottom: 15px; }

    .box h3 .detalhes { 
        font-size: 60%;
    }

    .box .descricao { font-size: 90%; }

.box_esquerda { float: left; }

.box_direita {
    float: right;
    margin-right: 20px;    
}

.ultimos {
    margin-top: 70px;
    margin-bottom: 30px;
}

/**
* Box Principal (Nome Completo, Profissão, etc)
*
* Estrutura que compõem os dados
* do box principal.
*
* @section structure
* @see
* http://gilsondev.com
*/

#curriculo {
    margin-top: 20px;
    font-size: 80%;
}

    #curriculo span {}

#tweets #jtwt { 
    margin: 10px;
    font-size: 90%;
}

/**
* Box 'Sobre'
*
* Estrutura que compõem os dados
* sobre o autor do site.
*
* @section structure
* @see
* http://gilsondev.com
*/

#sobre {
    width: 380px;
    height: 80px;
}

/**
* Box 'Projetos'
*
* Estrutura que compõem os dados
* dos projetos do autor do site.
*
* @section structure
* @see
* http://gilsondev.com
*/

#slide_screenshots img {
    box-shadow: 1px 1px 5px #CCC;
}

#briefing {
    font-size: 80%; 
}


/**
* Rodapé da página
*
* Estrutura que compõem o
* rodapé da página e os 
* seus componentes
*
* @section structure
* @see
* http://gilsondev.com
*/
footer {
    background-color: #BF0000;
    margin-top: 10px;
    padding-top: 15px;
    width: 100%;
    height: 51px;
    color: white;
}

    footer a { 
        text-decoration: none;
        color: white; 
    }

    footer a:hover { 
        text-decoration: underline;
        color: #CCC; 
    }

#redes_sociais ul li { display: inline; }

    #redes_sociais ul li a {
        padding: 2px 10px;
        float: left;
    }

.opcao {
    float: left;
    padding-right: 80px;
}

.ultima_opcao {
    float: right;
}

.menu_rodape ul {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

    .menu_rodape ul li { 
        display: inline; 
        text-shadow: 1px 1px black;
    }

    .menu_rodape ul li a {
        padding: 2px 10px;
        float: left;
    }

    .menu_rodape ul li a:hover { text-decoration: underline; }

/**
* Classe variadas
*
* Estrutura que compõem o
* classes para a organização
* dos componentes.
*
* @section structure
* @see
* http://gilsondev.com
*/

.clear {
    clear: both;    
}