{% extends "base.html" %}

{% block meta %}
	<meta name="description" content="Saiba de todos os projetos que participei na sua construção e desenvolvimento." />
	<meta name="keywords" content="projetos, desenvolvimento, desenvolvimento web, python, django, web2py" />
{% endblock meta %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/pages.css" />
    <link rel="stylesheet" href="/static/css/projetos.css" />
{% endblock media %}

 {% block corpo %}
     <div id="cabecalho"><h1>Projetos desenvolvidos</h1></div>
     <div id="conteudo">
        {% for projeto in projetos %}
            <!-- Aqui coloca o screenshot -->
            <div class="projeto">
                <img src="{{ projeto.imagem_box.url }}" width="128" height="128" alt="Logomarca do Projeto" />
                <h2>
                    <a href="{{ projeto.get_absolute_url }}">
                        {{ projeto.nome }}
                    </a>
                </h2>
            </div>
        {% endfor %}
     </div>
 {% endblock corpo %}
