{% extends "base.html" %}

{% block meta %}
	<meta name="description" content="{{ projeto.descricao }}" />
	<meta name="keywords" content="{{ projeto.tecnologias }}" />
{% endblock meta %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/pages.css" />
    <link rel="stylesheet" href="/static/css/projetos.css" />
{% endblock media %}

{% block corpo %}
    <div id="cabecalho"><h1>{{ projeto.nome }}</h1></div>
    <div id="conteudo">
    	<a href="{% url homepage %}">Voltar para a Página Inicial</a>
        <div id="screenshot"><img src="{{projeto.screenshot.url}}" alt="Imagem do Projeto" /></div>
        {% if projeto.endereco %}
            <p><strong>Endereço do Projeto:</strong> <a href="{{ projeto.endereco }}">{{ projeto.endereco }}</a></p>
        {% endif %}
        <p><strong>Tecnologias:</strong> {{ projeto.tecnologias }}</p>
        <p><strong>Descrição:</strong> <br /> {{ projeto.descricao }}</p>
    </div>
{% endblock corpo %}
