{% extends "base.html" %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/pages.css" />
{% endblock media %}

{% block corpo %}
<div id="cabecalho">
    <h1>Página não existe</h1>
</div>
<div id="conteudo">
	<p>
	Essa página não existe nesse site. Caso você o encontrou em algum lugar, 
	e mesmo assim está dando esse erro, fale comigo 
	<a href="{% url contato %}">aqui</a>
	</p>
</div>
{% endblock corpo %}
