{% extends "base.html" %}

{% block media %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/pages.css" />
{% endblock media %}

{% block corpo %}
<div id="cabecalho">
    <h1>Erro inesperado</h1>
</div>
<div id="conteudo">
	<p>
	Esse servidor te deixou na mão não foi? Me fale o que aconteceu 
	<a href="{% url contato %}">aqui</a> que vou resover isso com ele!
	</p>
</div>
{% endblock corpo %}
