<!DOCTYPE html>   
<head>
    <meta charset="utf-8">
    <title>Gilson Filho - Desenvolvimento Web</title>
    {% block meta %}
    <meta name="description" content="Site do Desenvolvedor Gilson Filho, onde possui todas as
    informações sobre o seu portfólio e sua experiência profisional.">
    <meta name="keywords" content="desenvolvedor, gilson, gilson filho, django, python, web" />
    {% endblock meta %}
    <meta name="author" content="Gilson Filho"> 

    {% block media %}
        <!-- !CSS -->
        <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/menu.css" />
    {% endblock media %}
 
    <!-- Uncomment if you are specifically targeting less enabled mobile browsers
    <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">  -->
 
    <!-- !Modernizr - All other JS at bottom 
    <script src="js/modernizr-1.5.min.js"></script> -->
</head>
 
<body>
    <div id="container">         
        <section id="main">
            {% block corpo %} {% endblock corpo %}
        </section><!-- end main -->    
        <footer class="clear">
            {% include "rodape.html" %}
        </footer><!-- end footer -->
    </div><!-- end container -->

    <!-- !Javascript - at the bottom for fast page loading -->
 
    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/jtwt.js"></script>
    <script src="{{ STATIC_URL }}scripts/custom.js"></script>
</body>
</html>
