<div class="opcao esquerda menu_rodape">
    <ul>
        <li><a href="{% url homepage %}">Página Inicial</a></li>
        <li><a href="http://blog.gilsondev.com">Meu Blog</a></li>
        <li><a href="{% url links %}">Quicklinks</a></li>
        <li><a href="{% url contato %}">Fale Comigo</a></li>
    </ul>
</div>
<div class="ultima_opcao">
    <div id="redes_sociais">
        <ul>
            <li>
                <a href="http://github.com/gilsondev">
                    <img src="{{ STATIC_URL }}images/github.png" alt="Github" />
                </a>
            </li>                
            <li>
                <a href="http://twitter.com/gilsonfilho">
                    <img src="{{ STATIC_URL }}images/twitter.png" alt="Twitter" />
                </a>
            </li>
            <li>
                <a href="http://facebook.com/gilsondev">
                    <img src="{{ STATIC_URL }}images/facebook.png" alt="Facebook" />
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/113824267770094978485/">
                    <img src="{{ STATIC_URL }}images/google_plus.png"  alt="Google+"/>
                </a>
            </li>                
            <li>
                <a href="http://br.linkedin.com/in/gilsonfilho">
                    <img src="{{ STATIC_URL }}images/linkedin.png" alt="Linkedin"/>
                </a>
            </li>
            <li>
                <a href="http://www.slideshare.net/contatogilsonsbf">
                    <img src="{{ STATIC_URL }}images/slideshare.png" alt="Slide Share"/>
                </a>
            </li>                
            <li>
                <a href="http://vimeo.com/gilsonfilho">
                    <img src="{{ STATIC_URL }}images/vimeo.png" alt="Vimeo" />
                </a>
            </li>
        </ul>
    </div>     
</div>
<div class="opcao centro">  
</div>
